<configuration>
<system.webServer>
<handlers>
  <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
</handlers> 

<security>
  <requestFiltering>
    <hiddenSegments>
      <add segment="node_modules" />
      <add segment="iisnode" />
    </hiddenSegments>
  </requestFiltering>
</security>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:8081/{R:1}" />
                </rule>
            </rules>
        </rewrite>
</system.webServer>
 </configuration>
